body:after {
    content: '';
    width: 50rem;
    height: 35rem;
    position: absolute;
    /* background-image: url(/assets/images/flags/shakal.svg); */
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: .7;
    right: -63px;
    top: -70px;
    -ms-transform: rotate(190deg);
    transform: rotate(190deg);

}


/*
    .authentication .authentication-cover {
        background-image: url(https://laravelui.spruko.com/ynex/build/assets/images/authentication/2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #A9A2CE
    } */
.bordercreateevent{
  border-left: 4px solid #c9c5df;
  height: 20px;
  padding-left:3px;
}
